.contenedor-Base-acordeon{
    display: flex;
    /*background-image: url('../componentes/corrientes.jpg');*/
    background-image: url('./corrientes.jpg');
    background-size: cover;
}

.accordion{
    max-width: 50%;
    margin: 10%;
}