.contenedor-padre-pieDePagina{
    background-color: black;
}

.contenedor-padre-pieDePagina h4{
    color: white;
}

.contenedor-padre-pieDePagina p{
    color: white;
}

.contenedor-padre-pieDePagina a{
    color: white;
}