.carousel-inner {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/* Estilos para hacer las imágenes más pequeñas en el carrusel */
.carousel-inner img {

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen al 100% */
    height: auto;
    /* Ajusta la altura automáticamente para mantener la proporción */
    
    margin: 10px;
    
    
}

.carousel-caption h5 {
    font-size: 2rem;
    color: black;
    /*margin-left: 500px;*/
}

.carousel-caption p {
    font-size: 1.5rem;
    color: black;
    /*margin-left: 500px;*/
}